.devenv
.direnv
.devenv
node_modules
config.yaml


target
result
data
database

evaluations/cache/
evaluations/reports/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
# html-router/assets/style.css
html-router/node_modules
.fastembed_cache/
