{% extends "modal_base.html" %}

{% block form_attributes %}
hx-patch="/knowledge-entity/{{entity.id}}"
hx-target="#entity-list"
hx-swap="outerHTML"
{% endblock %}

{% block modal_content %}
<h3 class="text-lg font-bold">Edit Entity</h3>

<div class="form-control">
  <label class="floating-label">
    <span class="label-text">Name</span>
    <input type="text" name="name" value="{{ entity.name }}" class="input input-bordered w-full">
  </label>
</div>

<div class="form-control relative" style="margin-top: -1.5rem;">
  <span class="absolute left-2.5 top-2.5 z-[100] p-0.5 bg-white text-xs text-light">Type</span>
      <select name="entity_type" class="select select-bordered w-full">
         {% for et in entity_types %}
          <option value="{{ et }}" {% if entity.entity_type==et %}selected{% endif %}>{{ et }}</option>
         {% endfor %}
        </select>
</div>

<input type="text" name="id" value="{{ entity.id }}" class="hidden">

<div class="form-control">
  <label class="floating-label">
    <span class="label-text">Description</span>
    <textarea name="description" class="w-full textarea textarea-bordered h-32">{{ entity.description }}</textarea>
  </label>
</div>
{% endblock %}

{% block primary_actions %}
<button type="submit" class="btn btn-primary">
  Save Changes
</button>
{% endblock %}