<div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4" id="entity_list">
  {% for entity in entities %}
  <div class="card min-w-72 bg-base-100 shadow-sm">
    <div class="card-body">
      <h2 class="card-title">{{entity.name}}
        <span class="badge badge-xs badge-primary">{{entity.entity_type}}</span>
      </h2>
      <p>{{entity.description}}</p>
      <div class="flex justify-between items-center">
        <p>{{entity.updated_at | datetimeformat(format="short", tz=user.timezeone)}}</p>
        <div>
          <button hx-patch="/knowledge-entity/{{entity.id}}" class="btn  btn-square btn-ghost btn-sm">
            {% include "icons/edit_icon.html" %}
          </button>
          <button hx-delete="/knowledge-entity/{{entity.id}}" hx-target="#entity_list" hx-swap="outerHTML"
            class="btn btn-square btn-ghost btn-sm">
            {% include "icons/delete_icon.html" %}
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>