<form hx-patch="/change-password" class="flex flex-col gap-3">
  <label class="w-full">
    <div class="text-xs uppercase tracking-wide opacity-70 mb-1">Old Password</div>
    <input name="old_password" class="nb-input w-full" type="password" placeholder="Enter old password"></input>
  </label>
  <label class="w-full">
    <div class="text-xs uppercase tracking-wide opacity-70 mb-1">New Password</div>
    <input name="new_password" class="nb-input w-full" type="password" placeholder="Enter new password"></input>
  </label>
  <button class="nb-btn w-full">Change Password</button>
  
</form>
