<div id="chat_container" class="px-3 pb-44 space-y-3">
  {% for message in history %}
  {% if message.role == "AI" %}
  <div class="chat chat-start">
    <div>
      <div id="{{message.id}}" class="chat-bubble markdown-content" data-content="{{message.content | escape}}">
        {{ message.content | escape }}
      </div>
      {% if message.references %}
      {% include "chat/reference_list.html" %}
      {% endif %}
    </div>
  </div>
  {% else %}
  <div class="chat chat-end">
    <div id="{{message.id}}" class="chat-bubble markdown-content" data-content="{{message.content | escape}}">
      {{ message.content | escape }}
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>