<nav class="sticky top-0 z-10 nb-panel nb-panel-canvas border-t-0" style="view-transition-name: navbar; contain: layout;">
  <div class="container mx-auto navbar">
    <div class="mr-2 flex-1">
      {% include "searchbar.html" %}
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-2 gap-2 items-center">
        <label for="my-drawer" aria-label="open sidebar" class="hover:cursor-pointer lg:hidden">
          {% include "icons/hamburger_icon.html" %}
        </label>
        {% include "theme_toggle.html" %}
      </ul>
    </div>
  </div>
</nav>
