<nav class="bg-base-200 sticky top-0 z-10">
  <div class="container mx-auto navbar">
    <div class="flex-none lg:hidden">
      <label for="my-drawer" aria-label="open sidebar" class="hover:cursor-pointer ">
        {% include "icons/hamburger_icon.html" %}
      </label>
    </div>
    <div class="flex-1">
      <a class="text-2xl p-2 text-primary font-bold" href="/" hx-boost="true">Minne</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1 items-center">
        {% include "theme_toggle.html" %}
        <li><a hx-boost="true" href="/documentation">Docs</a></li>
        {% if user %}
        <li>
          <details>
            <summary>Account</summary>
            <ul class="bg-base-100 rounded-t-none p-2 z-50 shadow w-40">
              <li><a hx-boost="true" href="/account">Account</a></li>
              {% if user.admin %}
              <li><a hx-boost="true" href="/admin">Admin</a></li>
              {% endif %}
              <li><a hx-boost="true" href="/signout">Sign out</a></li>
            </ul>
          </details>
        </li>
        {% else %}
        <li><a hx-boost="true" href="/signin">Sign in</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>