{% extends "components/_sidebar_layout.html" %}
{% from "components/_icon_macro.html" import icon %}

{% block sidebar_nav_items %}
  {% for url, name, label in [
  ("/", "home", "Dashboard"),
  ("/knowledge", "book", "Knowledge"),
  ("/content", "document", "Content"),
  ("/chat", "chat", "Chat"),
  ("/search", "search", "Search"),
  ("/scratchpad", "scratchpad", "Scratchpad")
  ] %}
  <li>
    <a hx-boost="true" href="{{ url }}" class="nb-btn w-full justify-start gap-3 bg-base-100 hover:bg-base-200">
      {{ icon(name) }}
      <span class="uppercase tracking-wide">{{ label }}</span>
    </a>
  </li>
  {% endfor %}
  <li>
    <button class="nb-btn nb-cta w-full flex items-center gap-3 justify-start mt-2" hx-get="/ingress-form"
      hx-target="#modal" hx-swap="innerHTML">{% include "icons/send_icon.html" %} Add
      Content</button>
  </li>
  <div class="u-hairline mt-4"></div>
{% endblock %}

{% block sidebar_bottom_actions %}
  <li>
    <a hx-boost="true" href="/account"
      class="nb-btn w-full justify-start items-center gap-3 bg-base-100 hover:bg-base-200">
      {% include "icons/user_icon.html" %}
      <span class="uppercase tracking-wide">Account</span>
    </a>
  </li>
  {% if user.admin %}
  <li>
    <a hx-boost="true" href="/admin"
      class="nb-btn w-full justify-start items-center gap-3 bg-base-100 hover:bg-base-200">
      {% include "icons/wrench_screwdriver_icon.html" %}
      <span class="uppercase tracking-wide">Admin</span>
    </a>
  </li>
  {% endif %}
  <li>
    <a hx-boost="true" href="/signout"
      class="nb-btn w-full justify-start items-center gap-3  bg-base-100 hover:bg-base-200 border-error text-error">
      {% include "icons/logout_icon.html" %}
      <span class="uppercase tracking-wide">Logout</span>
    </a>
  </li>
{% endblock %}
