<div class="chat chat-end">
  <div class="chat-bubble">
    {{user_message.content}}
  </div>
</div>
<div class="chat chat-start">
  <div hx-ext="sse" sse-connect="/chat/response-stream?message_id={{user_message.id}}" sse-close="close_stream"
    hx-swap="beforeend">
    <div class="chat-bubble" sse-swap="chat_message">
      <span class="loading loading-dots loading-sm loading-id-{{user_message.id}}"></span>
    </div>
    <div class="chat-footer opacity-50 max-w-[90%] flex-wrap" sse-swap="references">
    </div>
  </div>
</div>
<script>
  document.body.addEventListener('htmx:sseBeforeMessage', (e) => {
    const targetElement = e.detail.elt;
    const loadingSpinner = targetElement.querySelector('.loading-id-{{user_message.id}}');

    // Hiding the loading spinner before data is swapped in
    if (loadingSpinner) {
      loadingSpinner.style.display = 'none';
    }
  }
  )
</script>