{% extends "body_base.html" %}

{% block title %}Minne - Dashboard{% endblock %}

{% block main %}
<div class="flex justify-center grow mt-2 sm:mt-4 pb-4 w-full">
  <div class="container">
    <section class="mb-4">
      {% block dashboard_alerts %}
      {% endblock %}
      <div class="nb-panel p-3 flex items-center justify-between">
        {% block dashboard_header %}
        {% endblock %}
      </div>
    </section>

    {% block dashboard_widgets %}
    {% endblock %}
  </div>
</div>
{% endblock %}
