{% extends "head_base.html" %}

{% block body %}

<body class="min-h-screen">
  <nav class="navbar bg-base-200">
    <div class="flex-1">
      <a class="btn text-xl border-transparent btn-outline btn-primary" href="/">minnet</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a hx-boost="true" href="/signin">Login</a></li>
        <li><a hx-boost="true" href="/signup">Sign up</a></li>
        <li>
          <details>
            <summary>Parent</summary>
            <ul class="bg-base-100 rounded-t-none p-2">
              <li><a>Link 1</a></li>
              <li><a>Link 2</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </nav>

  <main class="container mx-auto px-4 py-8">
    {% block content %}{% endblock %}
  </main>
</body>
{% endblock %}