{% extends "body_base.html" %}
{% block main %}
{% if user %}
<p class="text-blue-950">HI</p>
{% else %}
<div class="flex flex-col items-center justify-center min-h-[80vh] space-y-8">
  <!-- Hero Section -->
  <div class="text-center space-y-4 mb-8">
    <h1
      class="text-5xl font-bold bg-gradient-to-r from-blue-400 via-purple-500 to-pink-500 text-transparent bg-clip-text">
      Welcome to minne
    </h1>
    <p class="text-gray-400 text-xl">
      An experiment in creating a second brain
    </p>
    <p class="text-gray-400 text-lg">
      There are {{queue_length}} messages queued for ingression.
    </p>

  </div>

  <!-- Search Bar -->
  <div class="w-full max-w-2xl">
    <input type="text" placeholder="Enter your search query" class="input input-bordered w-full" name="query"
      hx-get="/search" hx-target="#search-results" />
  </div>

  <!-- Search Results -->
  <div id="search-results" class="w-full max-w-2xl mt-4">
    <!-- Results will be populated here by HTMX -->
  </div>
</div>
{% endif %}
{% endblock %}
