<div class="card bg-base-100 shadow-xl mt-4">
  <div class="card-body">
    <h2 class="card-title">Recently Added Content</h2>
    <ul class="list bg-base-100 rounded-box shadow-md">

      <li class="list-row">
        <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/1@94.webp" /></div>
        <div>
          <div>Dio Lupa</div>
          <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
        </div>
        <button class="btn btn-outline">
          Edit
        </button>
        <button class="btn btn-error">
          Delete </button>
      </li>
    </ul>
  </div>
</div>